<!DOCTYPE html>
<html>
  <head>
    <title>My Favourite Things</title>
    <link rel='stylesheet' href='/stylesheets/main.css'/>
  </head>
  <body>
    <header>
      <nav>
        <h1 id="title">My Favourite Things!</h1>
        <a href="/">
          <i class="fas fa-home"></i>
        </a>
      </nav>
    </header>    
    <main>
      {{{body}}}
    </main>
  </body>
</html>
